
.header{
    background-color: #1f2937;  
    color: white;
    height: 300px;
    padding-top: 22px;
    padding: 20px;

}
.mint{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}
.fun{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first{
    font-weight: 1000;
    font-size: 28px;
}


.inter{
    display: flex;
    gap: 20px;



}

.another{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.fun{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.whale{
    display: flex;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    height: 24px;
    width: 58px;

}
 
.pass{
height: 300px;
width: 700px;
}




